.settingsForm label {
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}
